
{% include_relative header-layouts/inline-rectangle-header-queries.css %}

/* Everything under 320px and 320px */
@media screen and (max-width: 20em) {

h1 {
  font-weight: 900;
  font-size: 35px;
}

h3 {
font-size: 23px;  
}

.btn-primary {
font-size: 16px;
}

.custom-api-number-highlight {
font-size: 22px;
}

.custom-api-number {
font-size: 22px;
}

.custom-jumbotron-home2 {
    background-position-y: 0px;
}
  
}
  
/* 321px to 600px */
@media screen and (min-width: 20.1em) and (max-width: 37.5em) {

h1 {
  font-weight: 900;
  font-size: 35px;
}

h2 {
  
}

h3 {

font-size: 23px;
   
}

h4 {
    
}

h5 {

}

.btn-primary {
font-size: 16px;
}

.custom-api-number-highlight {
font-size: 22px;
}

.custom-api-number {
font-size: 22px;
}

.custom-jumbotron-home2 {
    background-position-y: 0px;
}
  
}

/* 601px to 1008px */
@media screen and (min-width: 37.6em) and (max-width: 63em) {

.custom-jumbotron-home2 {
    background-position-y: 0px;
}

h2 {
    font-size: 3rem;
  }
    
}

/* 1009px to 1280px */
@media screen and (min-width: 63.1em) and (max-width: 80em) {
    h2 {
        font-size: 3rem;
      }

   
}

/* 768px to 1009px */
@media screen and (min-width: 48em) and (max-width: 63.1em) {

    h2 {
        font-size: 3rem;
      }
}
