
/* global fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Lato', sans-serif;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  color: #012e4f !important;
}

.header-cta {
  font-family: 'Lato', sans-serif;
  color: #012e4f !important;
}

button {
  font-weight: 900;
  font-size: 22px;
}

.btn-primary {
  background-color: #012e4f;
  border-color: #012e4f;
  border-radius: 2em;
}

.btn-primary:hover {
  color: #012e4f;
  text-decoration: none;
  background-color: #fff;
  border-color: #012e4f;
  cursor: pointer;
}

.btn-primary:active {
  border-color: #fff;
}

.custom-icon-box {
  background-color: #e8e8e8;
}

h1 {
  font-weight: 900;
  font-size: 55px;
}

h2 {
 
}

h3 {
   
}

h4 {
    
}

h5 {

}

.custom-icon-block-text {
  font-size: 18px;
}

.navbar-nav {
  font-size: 18px;
}

.highlight-text {
  color: #012e4f;
  font-weight: 900;
}

.custom-api-number-highlight {
  background-color: #ffd040;
  border-radius: 10px;
}

.custom-api-number {
  background-color: #012e4f;
  border-radius: 10px;
}

.custom-jumbotron-home {
  background-image: url("/assets/img/pageimg/insulation-for-your-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.custom-jumbotron-home2 {
  background-image: url("/assets/img/pageimg/insulation-for-office-building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
}

.custom-title-only-section {
  background-color: #012e4f;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}




img[src*='#right']{ float: right; }
img[src*='#left']{ float: left; }
img[src*='#center']{ float: none; width: 100%; padding: 0% 30% 0% 30% }
img[src*='#extrasmall']{ width: 15%; padding:1%; }
img[src*='#small']{ width: 25%; padding:1%; }
img[src*='#medium']{ width: 50%; padding:1%; }
img[src*='#large']{ width: 100%; padding:1%; }