/* page key
a-(...) header
c-(...) free estimate
d-(...) contact us
*/

.logo-background {
    background-image: url("/assets/img/pageimg/Performance-Insulation-LOGO.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
}

.a-phone-number {
    background-color: #fff;
    border-bottom-left-radius: 1em;
}

.c-jumbotron {
    background-image: url("/assets/img/pageimg/free-estimate-for-insulation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
  }

  .d-jumbotron {
    background-image: url("/assets/img/pageimg/contact-performance-insulation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }