<div class="footer float-left w-100">
  <div class="col-lg-12 col-md-12 col-sm-12 pb-4 pl-5 pr-5 float-left mx-auto custom-privacy-policy">
      <p class="pt-5 pb-0 font-weight-bold text-center custom-text-footer-links custom-icon-section-text">Copyright © 2018 Performance Insulation. All Rights Reserved.</p>
      <p class="pt-0 pb-3 text-center">Designed and developed by <a href="https://www.mariposaagency.com/">Mariposa Interactive</a></p>
    </div>
</div>

<script src="{{ "/assets/main.js" | relative_url }}"></script>