<div class="container-fluid py-1 a-background">
  <div class="row">
    <div class="col-12 col-md-2 text-center mx-auto py-5 py-md-1 logo-background">
    </div>
    <div class="col-12 col-md-10 text-left mx-auto py-1">
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler mx-auto mr-md-0 ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <h4 class="float-left m-0 px-1 font-weight-bold">Menu</h4>
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav pt-1 pt-xl-0 mr-auto mt-lg-0">
        <li class="nav-item py-3 py-lg-0 text-center text-md-right text-lg-center px-1">
          <a class="nav-link px-2 first-nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item py-3 py-lg-0 text-center text-md-right text-lg-center pr-1">
          <a class="nav-link px-2" href="/contact-us">Contact Us</a>
        </li>
      </ul>
      <div class="ml-auto py-4 py-lg-0 text-center text-md-right">
        <a href="/free-estimate">
          <h5 class="m-0 font-weight-bold header-cta">Get a Free Estimate</h5>
        </a>
      </div>
    </div>
  </nav>
  </div>
  </div>
</div>
<div class="a-phone-number px-3 float-right">
  <hr class="m-1">
<img class="img-fluid d-none d-md-block float-right" src="/assets/img/pageimg/call-perfermance-insulation.png">
<h5 class="highlight-text float-right">(912) 334-0457</h5>
</div>