<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header-blog.html %}

<div class="custom-jumbotron-blog">
    <div class="container-fluid">
        <div class="col-lg-10 col-md-10 col-sm-12 pt-3 pb-3 pb-lg-1 pb-md-2 pb-sm-3 text-center text-md-left text-lg-left mx-auto">
          <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2> <p class="post-meta">
      </div>
    </div>
  </div>

<div class="blog-listings-master">
    <div class="container-fluid pl-0 pr-0">
        <div class="col-12 col-lg-8 col-md-8 float-left">

    {{ content }}



</div>
<div class="col-12 col-lg-4 col-md-4 float-left">
<h4 class="pt-3">Recent Posts</h4>
<div class="col-4 small-divider pt-4 mt-0"></div>
    {% for post in site.posts limit:6 %}	
    <h3 class="recent-posts-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} .</small></p>			
{% endfor %}
</div>



<div class="pt-4 pb-4 clear"></div>

<div class="block block-inverse text-center clear custom-prefooter">
  <div class="container-fluid text-xs-center col-md-6">
  <h2 class="custom-prefooter-title pb-4">Experience You Can Depend On</h2>
  <p class="custom-icon-section-text pb-4">Companies like Yahoo, Mozilla, Facebook, and Cisco rely on Mariposa because we understand where the web started, and where it's going.</p>
  <div class="col-md-6 mx-auto">
  <a href="/lead-gen-optimization">
  <button class="btn-block btn-primary pt-4 pb-4 custom-homepage-cta">Work with us</button>
  </a>
  </div>
  </div>
</div>

{% include /html/ae-default-footer.html %}
  
  </body>
</html>

