<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="d-jumbotron">
  <div class="container-fluid">
    <div class="py-2 py-lg-4"></div>
      <div class="col-12 col-lg-9 mx-auto">
        <h2 class="text-center text-white">Contact Performance Insulation</h2>
        <h3 class="text-center text-white">Use the form on this page to ask any questions about our products or services.</h3>
        <div class="py-2 py-lg-4"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-12 text-center py-4">
    <h3>Be as detailed as possible with your question.</h3>
  </div>
</div>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/thank-you-site-inspection';}"></iframe>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSf802LGHnXPw-nyjtwOFKJclaxEDqD1Rw2yF6wQCDuZbcBvvw/formResponse" method="post" target="hidden_iframe" 
onsubmit="submitted=true;">
 <div class="col-12 mx-auto clearfix pt-4 pb-0 px-0 custom-application-form-box">
  <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
   <label class="col-12 font-weight-bold text-center" for="full-name">Full Name</label>
 <input class="col-12 w-75 pt-2 pb-2" name="entry.822814912" type="text" id="full-name" required />
 </div>
   <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
       <label class="col-12 font-weight-bold text-center" for="full-name">Phone Number</label>
     <input class="col-12 w-75 pt-2 pb-2" name="entry.1386519646" type="text" id="full-name" required />
     </div>
     <div class="col-12 text-center">
            <label class="col-12 highlight-text font-weight-bold" for="project-details">What can we help you with?</label><br />
            <textarea name="entry.513181423" id="test" cols="30" wrap="soft" required></textarea>
            </div>
     <div class="col-12 pb-4 px-0 text-center mx-auto float-left">
 <input class="btn-primary py-2 mt-4 mb-4 custom-jumbotron-button2" type="submit" value="Contact us">
</p>
</div>
</div>
</div>
</div>
</form>

<div class="container-fluid py-2">
 <div class="row">
  <div class="col-12 col-md-6 text-center">
    <h3>Call us directly:</h3>
    <h2>(912) 334-0457</h2>
  </div>
  <div class="col-12 col-md-6 text-center">
        <h3>Email us:</h3>
        <h3>ablocker@performance-insulation.com</h3>
      </div>
 </div>
</div>

<hr>

{% include /html/ae-default-footer.html %}
  
  </body>
</html>