<!DOCTYPE html>
<html lang="en">
  
{% include /html/ae-default-head.html %}

<body>
  
{% include /html/rectangle-logo-header.html %}

<div class="c-jumbotron">
  <div class="container-fluid">
    <div class="py-2 py-lg-4"></div>
      <div class="col-12 col-lg-9 mx-auto">
        <h2 class="text-center text-white">FREE Installation Estimate</h2>
        <h3 class="text-center text-white">Call us or fill in the form below and we will set you up to get a free insulation installation estimate.</h3>
        <div class="py-2 py-lg-4"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-12 text-center py-4">
    <h3>Leave your information here and we will reach out to you.</h3>
  </div>
</div>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/thank-you-site-inspection';}"></iframe>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSf802LGHnXPw-nyjtwOFKJclaxEDqD1Rw2yF6wQCDuZbcBvvw/formResponse" method="post" target="hidden_iframe" 
onsubmit="submitted=true;">
 <div class="col-12 mx-auto clearfix pt-4 pb-0 px-0 custom-application-form-box">
  <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
   <label class="col-12 font-weight-bold text-center" for="full-name">Full Name</label>
 <input class="col-12 w-75 pt-2 pb-2" name="entry.822814912" type="text" id="full-name" required />
 </div>
 <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
     <label class="col-12 font-weight-bold text-center" for="full-name">Email Address (not required)</label>
   <input class="col-12 w-75 pt-2 pb-2" name="entry.832180076" type="text" id="full-name" />
   </div>
   <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
       <label class="col-12 font-weight-bold text-center" for="full-name">Phone Number</label>
     <input class="col-12 w-75 pt-2 pb-2" name="entry.1386519646" type="text" id="full-name" required />
     </div>
     <div class="col-12 col-lg-6 pb-4 px-0 text-center mx-auto float-left">
 <input class="btn-primary py-2 mt-4 mb-4 custom-jumbotron-button2" type="submit" value="Get a FREE estimate">
</p>
</div>
</div>
</div>
</div>
</form>

<div class="container-fluid py-2">
  <div class="col-12 text-center">
    <h3>Give us a call:</h3>
    <h2>(912) 334-0457</h2>
  </div>
</div>

<hr>

{% include /html/ae-default-footer.html %}
  
  </body>
</html>